/*Start Main Rules*/
body{
    font-size:16px;
    background-color:#F4F4F4;

}
h1{
    font-size:43px;
    font-weight:bold;
    color:#8a6d3b;
}


/*End Main Rules*/

/*START Login form*/

.login{
    width:300px;
    margin:100px auto;
}
.logic h4{
    color:#888;
}
.login .form-control{
    margin:10px 0;
    background-color:#EAEAEA;
}
.login .btn{
    background:#008dde;
}


/*End Login form*/

/*start of navbar*/

.navbar{
    border-radius:0px;
    margin:0px;
    border:none;
}

.navbar-nav>li>a{
    font-size:1em;
    padding:15px;
}
.navbar-inverse .navbar-nav>li>a{color:#11dc8b;}
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover{
    font-size:30px;
    color:#00979a;
}
.navbar-nav>li>.dropdown,
.navbar-nav>li>.dropdown-menu{
    background:#00979a;
}
.dropdown-menu>li>a{
    color:#FFFFFF;
}
.navbar-inverse .navbar-brand{color:#75da1e;}
.navbar-brand{
    font-size:1.5em;
}

/*End of navbar*/

/*Start of Member Page*/
.form-horizontal{
    margin-top:50px;
}
.form-control{
    position:relative;
}

.asterisk{
    position:absolute;
    top:10px;
    right:20px;
    font-size:23px;
    font-weight:bold;
    color:red;
}

/*START member page :=> Add member show password*/
.show-pass{
    position:absolute;
    top:15px;
    right:-20px;
}
/*End member page :=> Add member show password*/

/*Start manage table*/
.main-table{
    margin-top:50px;
}
.main-table thead th {
    text-align:center;
}
.Edit{
    padding:6px  18px;
}
.Edit , .Delete{
    margin-left:2px;
    margin-bottom:3px;
}
/*End manage table*/







/*End of Member Page*/

