/*Start Main Rules*/
body{
    font-size:16px;
    background-color:#F4F4F4;

}
h1{
    font-size:43px;
    font-weight:bold;
    color:#8a6d3b;
    margin-bottom:40px !important;
    margin-top:40px !important;
}

/*End Main Rules*/

/*START Login form*/

.login{
    width:300px;
    margin:100px auto;
}
.logic h4{
    color:#888;
}
.login .form-control{
    margin:10px 0;
    background-color:#EAEAEA;
}
.login .btn{
    background:#008dde;
}


/*End Login form*/

/*start of navbar*/

.navbar{
    border-radius:0px;
    margin:0px;
    border:none;
}

.navbar-nav>li>a{
    font-size:1em;
    padding:15px;
}
.navbar-inverse .navbar-nav>li>a{color:#11dc8b;}
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover{
    font-size:30px;
    color:#00979a;
}
.navbar-nav>li>.dropdown,
.navbar-nav>li>.dropdown-menu{
    background:#00979a;
}
.dropdown-menu>li>a{
    color:#FFFFFF;
}
.navbar-inverse .navbar-brand{color:#75da1e;}
.navbar-brand{
    font-size:1.5em;
}

/*End of navbar*/

/*Start of Member Page*/
.form-horizontal{
    margin-top:50px;
}
.form-control{
    position:relative;
}

.asterisk{
    position:absolute;
    top:10px;
    right:20px;
    font-size:23px;
    font-weight:bold;
    color:red;
}

/*START member page :=> Add member show password*/
.show-pass{
    position:absolute;
    top:15px;
    right:-20px;
}
/*End member page :=> Add member show password*/

/*Start manage table*/
.main-table{
    margin-top:50px;

        -moz-box-shadow: 4px 11px 42px grey;
        -webkit-box-shadow: 4px 11px 42px grey;
         box-shadow: 4px 11px 42px grey;

}
.main-table thead th {
    text-align:center;
}
.main-table thead{
    background:#333;
    color:#FFFFFF;
}


.Edit{
    padding:6px  18px;
}
.Edit , .Delete{
    margin-left:2px;
    margin-bottom:3px;
}
/*End manage table*/

/*End of Member Page*/


/*Start of Dashboard page*/

.main-state .state{
    background-color:#FFFFFF;
    font-size:1em;
    border:1px solid #CCC;
    padding:20px;
    border-radius:8px;
    -webkit-box-shadow:6px 1px  #CCC;
    -moz-box-shadow:6px 1px  #CCC;
     box-shadow:6px 19px #CCC;

     -webkit-transition:padding-left 1s;
        -moz-transition:padding-left 1s;
             transition:padding-left 1s;
     -webkit-transition-timing-function:ease-in-out;
        -moz-transition-timing-function:ease-in-out;
             transition-timing-function:ease-in-out;
}

.main-state .state:hover{
padding-left:50px;
}
.main-state .state span{
    display:block;
    font-size:70px;
}

.main-state .state span a,
.main-state .state span a:hover{
text-decoration:none;
}


.main-state .memb_state{
}

.main-state .pend_state{
}


.main-state .items_state{

}
.main-state .comment_state{

}
.latest{
    margin-top:40px;
}

.latest .panel-body{
    padding:20px 0px;
}
.latest-users li{
    overflow:hidden;
    padding:10px;
}

.latest-users li:nth-child(odd){
    background:#EEE;

}

.latest-users li a span{
    margin-left:2px;
}
























/*End of Dashboard page*/
